<?php
/**
 * Copyright © 2015 restapicommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \Restapi\Contactus\Block\Adminhtml\Index\Index
 */
?>
update content from Contactus\view\adminhtml\templates\index\index.phtml