<?php
$slider_id = $this->getData('slider');
$height = intval($this->getData('height'));
$auto = $this->getData('auto');
$adaptive_height = $this->getData('adaptive_height');
$slide_width = intval($this->getData('slide_width'));
$min_slides = intval($this->getData('min_slides'));
$max_slides = intval($this->getData('max_slides'));
$slide_margin = intval($this->getData('slide_margin'));
$captions = $this->getData('captions');
$mode = $this->getData('mode');
$speed = intval($this->getData('speed'));
$controls = $this->getData('controls');
$pause = $this->getData('pause');
?>

<?php $sliderInfo = $block->getSliderInfo($slider_id) ?>

<?php if ($sliderInfo->getIsActive()): ?>

	<?php $slides = $block->getSlidesFromSlider($slider_id) ?>
	<?php $sliderRandomId = $block->getSliderId() ?>

	<?php if ($slider_id && $slides && $slides->getSize()): ?>

		<link rel="stylesheet" type="text/css" href="<?php echo $block->getViewFileUrl('Webspeaks_BannerSlider::css/jquery.bxslider.min.css')?>">

		<script type="text/javascript">
		    require(['jquery','webspeaks/bxslider'], function($) {
		        $(document).ready(function($) {
		        	var options = {};
		        	options.auto = <?php echo json_encode( ($auto) ? true : false ) ?>;
		        	options.autoHover = true;
		        	options.adaptiveHeight = <?php echo json_encode( ($adaptive_height) ? true : false ) ?>;
		        	options.slideWidth = '<?php echo ($slide_width) ? $slide_width : 0 ?>';
		        	options.minSlides = '<?php echo ($min_slides) ? $min_slides : 1 ?>';
		        	options.maxSlides = '<?php echo ($max_slides) ? $max_slides : 1 ?>';
		        	options.slideMargin = '<?php echo ($slide_margin) ? $slide_margin : 0 ?>';
		        	options.captions = <?php echo json_encode( ($captions) ? true : false ) ?>;
		        	options.mode = '<?php echo ($mode) ? $mode : "horizontal" ?>';
		        	options.speed = '<?php echo ($speed) ? $speed : 500 ?>';
		        	options.controls = <?php echo json_encode( ($controls) ? true : false ) ?>;
		        	options.pause = '<?php echo ($pause) ? $pause : 4000 ?>';

		            $("#" + "<?php echo $sliderRandomId ?>").bxSlider(options);
		        });
		    });
		</script>

		<?php if ($slides->getSize()): ?>

		<div class="ws-slider" id="<?php echo $sliderRandomId ?>">

			<?php foreach ($slides as $slide): ?>

				<div class="ws-slide"><?php echo $block->getSlideHtml($slide) ?></div>

			<?php endforeach; ?>

		</div>

		<?php endif; ?>

	<?php endif; ?>

<?php endif; ?>
